[Unit]
Description=BadUSB Bash Injector
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/bin/hid-gadget-setup.sh && sleep 1 && /usr/bin/inject.sh'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
